/* app css stylesheet */

.right {
	text-align: right;
}

.fill-height {
	height: 100%;
}

#view {
	position: absolute;
	top: 50px;
	bottom: 0px;
	width: 100%;
}

#content {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

iframe#etherpad {
	border-right: 1px solid #EEEEEE;
}

#log pre {
	width: 100%;
	height: 100%;
}

#log {
	overflow-x: scroll;
	overflow-y: scroll;
	padding: 0px;
}

.documentOptions {
	margin-top: 20px;
}

.snippetcontent {
	white-space: pre-wrap;
}

.glyphicon-refresh-animate {
    -animation: spin 2.0s infinite linear;
    -ms-animation: spin 2.0s infinite linear;
    -webkit-animation: spinw 2.0s infinite linear;
    -moz-animation: spinm 2.0s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#loading {
	display: none;
	margin-right: 10px;
}
