<div id="filebox" title="Manage files">
	<form enctype="multipart/form-data" id="fileform">
		<label for="file">Upload a file</label>
		<input type="file" id="file" name="file">
		<input type="button" id="fileuploadbtn" value="Upload">
		<progress id="fileupload"></progress>
	</form>

	<table id="filetable" class="table table-striped">
		<thead>
			<th>Filename</th>
			<th>Actions</th>
		</thead>
		<tr ng-repeat="f in files">
			<td><a href="rest/files/{{f}}?documentid={{name}}">{{f}}</a></td>
			<td>
				<a href="rest/files/{{f}}?documentid={{name}}" title="Download {{f}}"><span class="glyphicon glyphicon-download"></span></a>
				<a href="" ng-click="rename(f)" title="Rename {{f}}"><span class="glyphicon glyphicon-share-alt"></span></a>
				<a href="" ng-click="delete(f)" title="Delete {{f}}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>

	</table>
</div>

<div id="snippetbox" title="Snippets">
	<p>Click the name of a snippet to view it. Please visit <a href="#/snippets" target="_blank">Snippets</a> to add a snippet.</p>
	<table class="table table-striped">
		<tr ng-repeat="s in snippets">
			<td>
				<p ng-click="s.show = !s.show">{{s.snippetname}}</p>
				<pre ng-show="s.show" class="snippetcontent">{{s.content}}</pre>
			</td>
		</tr>
	</table>
	<button ng-click="refreshSnippets()" class="btn btn-default">Refresh the list</button>
</div>

<div id="content">
	<iframe style="padding: 0px;" id="etherpad" ng-src="{{url.ether}}" class="col-md-7 fill-height" seamless="seamless" frameBorder="0"></iframe>
	<iframe style="padding: 0px;" id="pdfview" ng-src="{{url.pdfview}}" ng-show="!log.show" class="col-md-5 fill-height" seamless="seamless" frameBorder="0"></iframe>
	<div id="log" ng-show="log.show" class="col-md-5 fill-height"><pre>{{log.msg}}</pre></div>
</div>
