<div class="col-md-2">&nbsp;</div>
<div class="col-md-8">
	<h2>Create a document</h2>

	<p class="bg-success" ng-show="document.created">
	The document was created.
	</p>
	<p class="bg-warning" ng-show="document.failure">
	The document could not be created.
	</p>
	<form role="form">
		<div class="form-group">
			<input type="text" name="documentname" id="documentname" placeholder="Document name" class="form-control" ng-model="document.name"/>
		</div>
		<button ng-click="createdocument()" class="btn btn-default">Create document</button>
		<button ng-click="createdocument(true)" class="btn btn-default">Create document and edit</button>
	</form>

	<h2>Your documents</h2>
	<p class="bg-warning" ng-show="documentsfail">
		Could not get documents: <br>
		<span style="font-family: Courier;">{{documentsmessage}}</span>
	</p>
	<p class="bg-info" ng-show="nodocuments">There are no documents.</p>
	<table class="table table-striped" ng-show="!documentsfail && !nodocuments">
		<thead>
			<th>Name</th>
			<th class="right">Actions</th>
		</thead>
		<tr ng-repeat="d in documents">
			<td>
				<div>
					<a href="#/edit/{{d.ethergroupname}}/{{d.id}}">{{d.name}}</a>
				</div>
				<div class="documentOptions" ng-show="d.showoptions">
					<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label" for="newname">Change document name</label>
							<div class="col-sm-7">
								<input type="text" id="newname" class="form-control" ng-model="d.options.newname" placeholder="New name">
							</div>
							<div class="col-sm-1">
								<button ng-click="changeDocumentName(d.id, d.options.newname)" class="btn btn-default">Change name</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="newgroup">Change document group</label>
							<div class="col-sm-7">
								<select ng-model="d.options.newgroup" ng-options="opt.id as opt.groupname for opt in groups">
								</select>
							</div>
							<div class="col-sm-1">
								<button ng-click="changeDocumentGroup(d.id, d.options.newgroup)" class="btn btn-default">Change group</button>
							</div>
						</div>
						<div class="form-group">
							<p class="col-sm-12">Current group: {{d.groupname}}</p>
						</div>
					</form>
				</div>
			</td>
			<td class="right">
				<a href="" ng-click="d.showoptions = !d.showoptions" title="View or hide options for {{d.name}}"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="" ng-click="removeDocument(d.id)" title="Delete {{d.name}}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</table>
</div>
<div class="col-md-2">&nbsp;</div>
