<div class="col-md-2">&nbsp;</div>
<div class="col-md-8">
	<h2>Create a document</h2>

	<p class="bg-success" ng-show="document.created">
	The document was created.
	</p>
	<p class="bg-warning" ng-show="document.failure">
	The document could not be created.
	</p>
	<form role="form">
		<div class="form-group">
			<input type="text" name="documentname" id="documentname" placeholder="Document name" class="form-control" ng-model="document.name"/>
		</div>
		<button ng-click="createdocument()" class="btn btn-default">Create document</button>
		<button ng-click="createdocument(true)" class="btn btn-default">Create document and edit</button>
	</form>

	<h2>Your documents</h2>
	<p class="bg-warning" ng-show="documentsfail">
		Could not get documents: <br>
		<span style="font-family: Courier;">{{documentsmessage}}</span>
	</p>
	<p class="bg-info" ng-show="nodocuments">There are no documents.</p>
	<table class="table table-striped" ng-show="!documentsfail && !nodocuments">
		<thead>
			<th>Name</th>
			<th class="right">Actions</th>
		</thead>
		<tr ng-repeat="d in documents">
			<td><a href="#/edit/{{d.ethergroupname}}/{{d.id}}">{{d.name}}</a></td>
			<td class="right">
				<a href="#/edit/{{d.ethergroupname}}/{{d.id}}" title="Edit {{d.name}}"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="#/managegroups/{{d.id}}" title="Manage groups for {{d.name}}"><span class="glyphicon glyphicon-user"></span></a>
				<a href="#/delete/{{d.id}}" title="Delete {{d.name}}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</table>
</div>
<div class="col-md-2">&nbsp;</div>
