<div class="col-md-2">&nbsp;</div>
<div class="col-md-8">
	<h2>Create a new snippet</h2>

	<form role="form">
		<div class="form-group">
			<label for="snippetname" class="control-label">Snippet name</label>
			<input type="text" id="snippetname" placeholder="Snippet name" class="form-control" ng-model="snippet.snippetname"/>
		</div>
		<div class="form-group">
			<label for="snippetcontent" class="control-label">Snippet content</label>
			<textarea id="snippetcontent" class="form-control" placeholder="Snippet content here..." ng-model="snippet.content"></textarea>
		</div>
		<button ng-click="createSnippet(snippet)" class="btn btn-default">Create snippet</button>
	</form>

	<h2>Your snippets</h2>
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th class="right">Actions</th>
		</thead>
		<tr ng-repeat="s in snippets">
			<td>
				<p>
					{{s.snippetname}}
				</p>
				<div class="snippetOptions" ng-show="s.showoptions">
					<form role="form">
						<div class="form-group">
							<label class="control-label" for="newname">Snippet name</label>
							<input type="text" id="newname" class="form-control" ng-model="s.snippetname" placeholder="New name">
						</div>
						<div class="form-group">
							<label class="control-label" for="content">Snippet content</label>
							<textarea class="form-control" ng-model="s.content"></textarea>
						</div>
						<button class="btn btn-default" ng-click="saveSnippet(s)">Save snippet</button>
						<button class="btn btn-default" ng-click="revertSnippet(s)">Revert changes</button>
					</form>
				</div>
			</td>
			<td class="right">
				<a href="" ng-click="s.showoptions = !s.showoptions" title="View or hide options for {{s.name}}"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="" ng-click="removeSnippet(s)" title="Delete {{s.name}}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</table>
</div>
<div class="col-md-2">&nbsp;</div>
